<div [@routerTransition]>

    <div class="row">
        <div class="col-sm-8">
            <h3 class="page-title mb-3">Disputes</h3>
        </div>
        <div class="col-sm-4 text-right">
            <button mat-mini-fab color="primary" (click)="showCreateOrEditDisputeDialog()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <mat-card class="mb-3" style="padding: 0px;">
        <form (submit)="getDisputes()">
            <mat-form-field appearance="outline" class="mat-search-bar">
                <input matInput placeholder="{{l('Search')}}" [(ngModel)]="searchQuery" name="SearchQuery">
                <button mat-icon-button matSuffix color="primary" aria-label="Search" type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </mat-card>

    <p-table [value]="disputes" styleClass="ui-table-customers">
        <ng-template pTemplate="header">
            <tr>
                <th>Dispute ID</th>
                <th>Tour</th>
                <th>Description</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td><button mat-flat-button color="primary">{{item.dispute.id}}</button></td>
                <td>{{item.tourName}}</td>
                <td>{{item.dispute.description}}</td>
                <td>{{item.dispute.date | date}}</td>
                <td>{{item.dispute.status}}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator [rows]="maxResultCount" [totalRecords]="totalCount" [rowsPerPageOptions]="maxResultCountOptions" (onPageChange)="paginate($event)"></p-paginator>
</div>
