    <div class="user-info">
    <div class="image">
        <img src="../../assets/images/default_avatar.jpg" class="routeLink" width="48" height="48" alt="User" [routerLink]="['/app/user-details']"/>
    </div>
    <div class="info-container">
        <div class="name routeLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" [routerLink]="['/app/user-details']">{{appSession.user.name}} {{appSession.user.surname}}</div>
        <div class="email routeLink" [routerLink]="['/app/user-details']">{{appSession.user.emailAddress}}</div>
        <div class="btn-group user-helper-dropdown">
            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
            <ul class="dropdown-menu pull-right">
                <li><a [routerLink]="['/app/update-password']"><i class="material-icons">lock</i>{{ 'UpdatePassword' | localize }}</a></li>
                <li><a (click)="logout()"><i class="material-icons">input</i>{{ 'Logout' | localize }}</a></li>
            </ul>
        </div>
    </div>
</div>
