<form autocomplete="off" #createMessageModel="ngForm" (ngSubmit)="save()">
  <h1 mat-dialog-title>New Message</h1>
  <mat-dialog-content style="width:500px;">
    <mat-tab-group>
      <mat-tab label="Message Details">
        <br />
        <div class="row-fluid">
          <div class="col-12">
            <div class="mb-3">
              <p>Username</p>
              <p-autoComplete [(ngModel)]="user" [suggestions]="users" (completeMethod)="getUsers(user)" field="userName"
                name="User">
                <ng-template let-value pTemplate="item">
                  <div class="ui-helper-clearfix">
                    <span>{{ value.fullName }}</span>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
            <mat-form-field appearance="fill">
              <mat-label>Message</mat-label>
              <textarea matInput placeholder="Message" name="MessageContent" [(ngModel)]="content" required></textarea>
            </mat-form-field>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div mat-dialog-actions align="end">
    <button mat-button type="button" [disabled]="saving" (click)="close(false)">
      {{ "Cancel" | localize }}
    </button>
    <button mat-flat-button type="submit" flex="15" color="primary"
      [disabled]="!createMessageModel.form.valid || saving">
      {{ "Send" | localize }}
    </button>
  </div>
</form>
