<div [@routerTransition]>
    <div class="row">
        <div class="col-sm-8">
            <h3 class="page-title mb-3">{{title}}</h3>

        </div>
        <div class="col-sm-4 text-right">
            <button mat-mini-fab color="primary" (click)="exportToExcel()" class="mr-1">
                <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" class="mr-1">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="toggleAllTours()">All Tours</button>
                <button mat-menu-item (click)="toggleMyTours()">My Tours</button>
                <button mat-menu-item [routerLink]="['/app/bookings/']" routerLinkActive="active">Booked Tours</button>
            </mat-menu>
            <button mat-mini-fab color="primary" (click)="createTour()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <mat-card class="mb-3" style="padding: 0px;">
        <form (submit)="getTours()">
            <mat-form-field appearance="outline" class="mat-search-bar">
                <input matInput placeholder="{{l('Search')}}" [(ngModel)]="nameFilter" name="NameFilter">
                <button mat-icon-button matSuffix color="primary" aria-label="Search" type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </mat-card>
    <u class="clickable" (click)="showingAdvanced = !showingAdvanced">Show/hide advanced search options...</u>
    <br />
    <mat-card *ngIf="showingAdvanced" class="mb-3">
        <div>
            <h5>Price</h5>
            <mat-form-field appearance="fill" style="width: 20%">
                <mat-label>Minimum</mat-label>
                <input [(ngModel)]="minPriceFilter" matInput type="number" name="minPrice" placeholder="Min. price">
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 20%">
                <mat-label>Maximum</mat-label>
                <input [(ngModel)]="maxPriceFilter" matInput type="number" name="maxPrice" placeholder="Max. price">
            </mat-form-field>
            <h5>Geographic location</h5>
            <mat-form-field appearance="fill">
                <mat-label>Latitude (degrees)</mat-label>
                <input [(ngModel)]="latitudeFilter" matInput type="number" min="-180" max="180" name="latitude" placeholder="Latitude">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Longitude (degrees)</mat-label>
                <input [(ngModel)]="longitudeFilter" matInput type="number" min="-90" max="90" name="longitude" placeholder="Longitude">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Maximum Radius Offset (degrees)</mat-label>
                <input [(ngModel)]="radiusFilter" matInput type="number" name="radius" placeholder="Offset Radius">
            </mat-form-field>
            <h5>Tour duration (days)</h5>
            <mat-form-field appearance="fill" style="width: 15%">
                <mat-label>Minimum duration</mat-label>
                <mat-select [(ngModel)]="startDateFilter" name="minDuration">
                    <mat-option *ngFor="let day of [].constructor(30); let item = index" [value]="item">
                        {{item + 1}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 15%">
                <mat-label>Maximum duration</mat-label>
                <mat-select [(ngModel)]="endDateFilter" name="maxDuration">
                    <mat-option *ngFor="let day of [].constructor(30); let item = index" [value]="item">
                        {{item + 1}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <h5>Miscellaneous</h5>
            <mat-form-field appearance="fill">
                <mat-label>Booking accommodation</mat-label>
                <mat-select [(ngModel)]="accommodationFilter" name="accommodation">
                    <mat-option value="undefined">
                        Any
                    </mat-option>
                    <mat-option *ngFor="let item of [1, 2, 3, 4, 5]" [value]="item">
                        {{item}}
                    </mat-option>
                    <mat-option value="6">
                        6+
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Style</mat-label>
                <mat-select [(ngModel)]="styleFilter" name="style">
                    <mat-option value="undefined">
                        Any
                    </mat-option>
                    <mat-option *ngFor="let item of tourStyles" [value]="item">
                        {{item}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- empty string should be a falsy value; in advanced search, if any of latitude, longitude
             and radius are selected but not all, it is invalid -->
        <button mat-flat-button color="primary" (click)="getTours()" [disabled]="(latitudeFilter && (!longitudeFilter || !radiusFilter))
        || (longitudeFilter && (!latitudeFilter || !radiusFilter)) || (radiusFilter && (!latitudeFilter || !longitudeFilter))">Advanced Search</button>
    </mat-card>

    <div class="row" *ngIf="tours">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-3" *ngFor="let item of tours">
            <mat-card>
                <img mat-card-image [src]="item.tourPictures.length > 0 ? item.tourPictures[0].link : defaultImageLink"
                    alt="{{item.tour.name}}" class="tour-image">
                <mat-card-content>
                    <p class="text-truncate">
                        <i class="las la-calendar"></i>
                        <span *ngIf="item.tourDates.length > 0; else noDate;">
                            {{item.tourDates[item.tourDates.length - 1].startDate | date:'dd/MM/yyyy'}}</span>
                        <ng-template #noDate><span> Unavailable</span></ng-template>
                    </p>
                    <p class="text-truncate">
                        <i class="las la-map-marker"></i>
                        {{item.tour.locationName}}
                    </p>
                    <mat-card-title class="text-truncate">{{item.tour.name}}</mat-card-title>
                    <mat-card-subtitle class="text-truncate">{{item.tour.price | currency:'AUD':'symbol-narrow'}}
                    </mat-card-subtitle>
                    <p class="text-truncate">{{item.tour.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" [routerLink]="['/app/bookings/create-booking/' + item.tour.id]"
                        routerLinkActive="active" [disabled]="item.tourDates.length == 0">{{l("Book")}}</button>
                    <button mat-button color="primary" [routerLink]="[item.tour.id]"
                        routerLinkActive="active">{{l("Details")}}</button>
                    <button mat-button color="accent" (click)="editTour(item.tour.id)"
                        *ngIf="item.tour.userId == this.userId">{{l("Edit")}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <mat-card class="mb-3">
        <mat-paginator [length]="totalCount" [pageSize]="maxResultCount" [pageSizeOptions]="maxResultCountOptions"
            (page)="this.getTours($event)">
        </mat-paginator>
    </mat-card>
</div>
