<div [@routerTransition]>
    <div class="row">
        <div class="col-sm-8">
            <h3 class="page-title mb-3">{{title}}</h3>

        </div>
        <div class="col-sm-4 text-right">
            <button mat-mini-fab color="primary" (click)="exportToExcel()" class="mr-1">
                <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" class="mr-1">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="toggleAllTours()">All Tours</button>
                <button mat-menu-item (click)="toggleMyTours()">My Tours</button>
                <button mat-menu-item [routerLink]="['/app/bookings/']" routerLinkActive="active">Booked Tours</button>
            </mat-menu>
            <button mat-mini-fab color="primary" (click)="createTour()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>

    <mat-card class="mb-3" style="padding: 0px;">
        <form (submit)="getTours()">
            <mat-form-field appearance="outline" class="mat-search-bar">
                <input matInput placeholder="{{l('Search')}}" [(ngModel)]="nameFilter" name="NameFilter">
                <button mat-icon-button matSuffix color="primary" aria-label="Search" type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </mat-card>
    <a class="clickable" (click)="showingAdvanced = !showingAdvanced">Show/hide advanced search options...</a>
    <mat-card *ngIf="showingAdvanced" class="mb-3">
        <form autocomplete="off" #searchForm="ngForm" (ngSubmit)="getTours()">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h5>Price</h5>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Minimum</mat-label>
                                <input [(ngModel)]="minPriceFilter" matInput type="number" name="minPrice"
                                    placeholder="Min. price">
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Maximum</mat-label>
                                <input [(ngModel)]="maxPriceFilter" matInput type="number" name="maxPrice"
                                    placeholder="Max. price">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h5>Location</h5>
                    <div class="row">
                        <div class="col-xs-12">
                            <mat-form-field appearance="fill">
                                <mat-label>Location Name</mat-label>
                                <input [(ngModel)]="locationNameFilter" matInput type="text" name="LocationName"
                                    placeholder="Name">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <h5>Tour dates</h5>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Start Date</mat-label>
                                <input matInput name="StartDateFilter" placeholder="Start Date"
                                    [(ngModel)]="startDateFilter" maxlength="32" [matDatepicker]="startDatePicker" />
                                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #startDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <mat-form-field appearance="fill">
                                <mat-label>End Date</mat-label>
                                <input matInput name="EndDateFilter" placeholder="End Date" [(ngModel)]="endDateFilter"
                                    maxlength="32" [matDatepicker]="endDatePicker" />
                                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <button mat-flat-button color="primary" (click)="getTours()"
                [disabled]="!searchForm.form.valid">Search</button>
        </form>
    </mat-card>

    <div class="row" *ngIf="tours">
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-3" *ngFor="let item of tours">
            <mat-card>
                <img mat-card-image [src]="item.tourPictures.length > 0 ? item.tourPictures[0].link : defaultImageLink"
                    alt="{{item.tour.name}}" class="tour-image">
                <mat-card-content>
                    <p class="text-truncate">
                        <i class="las la-calendar"></i>
                        <span *ngIf="item.tourDates.length > 0; else noDate;">
                            {{item.tourDates[item.tourDates.length - 1].startDate | date:'dd/MM/yyyy'}}</span>
                        <ng-template #noDate><span> Unavailable</span></ng-template>
                    </p>
                    <p class="text-truncate">
                        <i class="las la-map-marker"></i>
                        {{item.tour.locationName}}
                    </p>
                    <mat-card-title class="text-truncate">{{item.tour.name}}</mat-card-title>
                    <mat-card-subtitle class="text-truncate">{{item.tour.price | currency:'AUD':'symbol-narrow'}}
                    </mat-card-subtitle>
                    <p class="text-truncate">{{item.tour.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" [routerLink]="['/app/bookings/create-booking/' + item.tour.id]"
                        routerLinkActive="active" [disabled]="item.tourDates.length == 0">{{l("Book")}}</button>
                    <button mat-button color="primary" [routerLink]="[item.tour.id]"
                        routerLinkActive="active">{{l("Details")}}</button>
                    <button mat-button color="accent" (click)="editTour(item.tour.id)"
                        *ngIf="item.tour.userId == this.userId">{{l("Edit")}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <mat-card class="mb-3">
        <mat-paginator [length]="totalCount" [pageSize]="maxResultCount" [pageSizeOptions]="maxResultCountOptions"
            (page)="this.getTours($event)">
        </mat-paginator>
    </mat-card>
</div>
