<div [@routerTransition]>

    <div class="row">
        <div class="col-sm-8">
            <h3 class="page-title mb-3">{{title}}</h3>
        </div>
        <div class="col-sm-4 text-right">
            <button mat-mini-fab color="primary" (click)="exportToExcel()" class="mr-1">
                <mat-icon>cloud_download</mat-icon>
            </button>
            <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu" class="mr-1">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="toggleMyBooking()">My Booking</button>
                <button mat-menu-item (click)="toggleCustomerBooking()" *ngIf="'Pages.Booking.ViewAll' | permission">Customer's Bookings</button>
                <button mat-menu-item (click)="toggleCancellationRequests()" *ngIf="'Pages.Booking.ViewAll' | permission">Cancellation Requests</button>
                <button mat-menu-item (click)="togglePendingRequests()" *ngIf="'Pages.Booking.ViewAll' | permission">Pending Requests</button>
            </mat-menu>
        </div>
    </div>

    <mat-card class="mb-3" style="padding: 0px;">
        <form (submit)="getBookings()">
            <mat-form-field appearance="outline" class="mat-search-bar">
                <input matInput placeholder="{{l('Search')}}" [(ngModel)]="searchQuery" name="SearchQuery">
                <button mat-icon-button matSuffix color="primary" aria-label="Search" type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </mat-card>

    <p-table [value]="bookings" styleClass="ui-table-customers">
        <ng-template pTemplate="header">
            <tr>
                <th>Booking Number</th>
                <th>Tour</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Number of People</th>
                <th>Status</th>
                <th class="text-right">Total Price</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    <button mat-flat-button color="primary">{{item.booking.id}}</button>
                </td>
                <td>{{item.tourName}}</td>
                <td>{{item.booking.name}}</td>
                <td>{{item.booking.phoneNumber}}</td>
                <td>{{item.booking.numberOfPeople}} person(s)</td>
                <td>{{item.booking.status}}</td>
                <td class="text-right">{{item.booking.totalPrice | currency}}</td>
                <td>
                    <button mat-icon-button color="primary" (click)="showCreateOrEditBookingDialog(item.booking.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" (click)="requestCancelBooking(item.booking.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator [rows]="maxResultCount" [totalRecords]="totalCount" [rowsPerPageOptions]="maxResultCountOptions"
        (onPageChange)="paginate($event)"></p-paginator>
</div>
