<div [@routerTransition]>

    <h3 class="page-title mb-3">Reviews</h3>

    <mat-card class="mb-3" style="padding: 0px;">
        <form (submit)="getReviews()">
            <mat-form-field appearance="outline" class="mat-search-bar">
                <input matInput placeholder="{{l('Search')}}" [(ngModel)]="searchQuery" name="SearchQuery">
                <button mat-icon-button matSuffix color="primary" aria-label="Search" type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </mat-card>

    <p-table [value]="reviews" styleClass="ui-table-customers">
        <ng-template pTemplate="header">
            <tr>
                <th>Review ID</th>
                <th>User</th>
                <th>Tour</th>
                <th>Rating</th>
                <th>Description</th>
                <th>Date Posted</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td><button mat-flat-button color="primary">{{item.review.id}}</button></td>
                <td>{{item.userFullName}}</td>
                <td>{{item.tourName}}</td>
                <td>{{item.review.rating}}</td>
                <td>{{item.review.description}}</td>
                <td>{{item.review.datePosted | date}}</td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator [rows]="maxResultCount" [totalRecords]="totalCount" [rowsPerPageOptions]="maxResultCountOptions" (onPageChange)="paginate($event)"></p-paginator>
</div>
