<div [@routerTransition]>

    <h3 class="page-title mb-3">Dashboard</h3>

    <mat-card class="mb-3" style="padding: 0px;">
        <form (submit)="getTours()">
            <mat-form-field appearance="outline" class="mat-search-bar">
                <input matInput placeholder="{{l('Search')}}" [(ngModel)]="nameFilter" name="NameFilter">
                <button mat-icon-button matSuffix color="primary" aria-label="Search" type="submit">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </mat-card>

    <mat-card class="mat-carousel mb-3">
        <mat-carousel timings="250ms ease-in" [autoplay]="true" color="white" interval="5000" color="primary" maxWidth="auto"
            proportion="25" slides="5" [loop]="true" [hideArrows]="true" [hideIndicators]="false" [useKeyboard]="true"
            [useMouseWheel]="false" orientation="ltr">
            <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slides; let i = index" [image]="slide.tourPictures.length > 0 ? slide.tourPictures[0].link : null"
                overlayColor="#00000040" [hideOverlay]="false">
                <h3 class="slide-title">{{slide.tour.name}}</h3>
                <p class="slide-description">{{slide.tour.price | currency}}</p>
            </mat-carousel-slide>
        </mat-carousel>
    </mat-card>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mb-3" *ngFor="let item of tours">
            <mat-card>
                <img mat-card-image
                    [src]="item.tourPictures.length > 0 ? item.tourPictures[0].link : defaultImageLink"
                    alt="{{item.tour.name}}" class="tour-image">
                <mat-card-content>
                    <p>
                        <i class="las la-calendar"></i>
                        {{item.tour.startDate | date:'dd/MM/yyyy'}} - {{item.tour.endDate | date:'dd/MM/yyyy'}}
                    </p>
                    <p>
                        <i class="las la-map-marker"></i>
                        {{item.tour.longitude}} Sydney
                    </p>
                    <mat-card-title class="text-truncate">{{item.tour.name}}</mat-card-title>
                    <mat-card-subtitle class="text-truncate">{{item.tour.price | currency:'AUD':'symbol-narrow'}}
                    </mat-card-subtitle>
                    <p class="text-truncate">{{item.tour.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary">{{l("Book")}}</button>
                    <button mat-button color="primary">{{l("Details")}}</button>
                    <button mat-button color="accent">{{l("Share")}}</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</div>
